{{> header}}
{{> hero}}

{{#each feeds}}
    <div id="{{this._id}}" class="feed">
        <div class="feed-image">
            <img src="{{this.image.url}}" alt="{{image.title}}" height="{{image.height}}" width="{{image.width}}">
            <span>{{this.image.title}}</span>
        </div>

        <div class="feed-items">

            {{#each this.items}}
                {{#if this.read}}
                    <div class="feed-read">
                        <div class="feed-title">
                            <h4><a href="{{this.link}}">{{this.title}}</a></h1>
                            <span> By {{this.creator}}</span>
                             <span>{{this.pubDate}}</span>
                        </div>
                        <h6>Summary</h6>
                        <p>{{{this.content}}}</p>
                    </div>

                {{else}}
                    <div id="unread-item">
                        <div class="feed-title">
                            <h4>
                            <a href="{{this.link}}">{{this.title}}</a> 
                            <button class="unread-click" id="{{this.title}}"><svg style="width:24px;height:24px" viewBox="0 0 24 24">
    <path id="{{this.title}}" class="unread-click" fill="green" d="M19.78,2.2L24,6.42L8.44,22L0,13.55L4.22,9.33L8.44,13.55L19.78,2.2M19.78,5L8.44,16.36L4.22,12.19L2.81,13.55L8.44,19.17L21.19,6.42L19.78,5Z" />
</svg></button>
                        </h4>
                        <span> By {{this.creator}}</span>
                        <span>{{this.pubDate}}</span>
                        </div>
                        <h6>Summary</h6>
                        <p>{{{this.content}}}</p>
                    </div>
                {{/if}}
                
            {{/each}}
        </div>
    </div>
{{/each}}

{{> footer}}

<script>
    const getTitle = (id) => {
        if(id.includes('?')){
            return `${id.split('?')[0]}*`;
        }
        return id;
    };
    const div = document.getElementById('unread-item');
    const btns = document.getElementsByClassName('unread-click');
    for(let btn of btns){
        btn.addEventListener('click', e => {
            console.log(e.target);
            const id = e.target.id;
            console.log(e.target.id);
            const url = `/api/v1/feed/${getTitle(id)}`;
            fetch(url,{
                method:'PATCH'
            })
            .then(res=>{
                if(res.status === 204){
                    window.location.reload();
                }
            })
            .catch(err=>{
                 window.location.reload();
            });
            {{!-- setTimeout(()=>{
                window.location.reload();
            },1000); --}}
        })
    }
</script>